/* .bg-about-us {
    background: linear-gradient(180deg, rgb(177, 177, 177) 0%, rgb(255, 255, 255) 40%);
} */

p {
    display: inline !important;
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lora", serif;
}
